<div class="jumbotron ">
        <div class="container">
            <%= image_tag 'logo.jpg', :size => '69x37' %>
            <h3 class = "text-success">Esoon</h3>
            <p class="text-success">お持ち帰りを楽々予約</p>
        </div>
    </div>
    <div class="container">
        <div class="texts-wrapper">
            <div class="contents-title">
　　　　　　　<h2>予約</h2>
　　　　　　　<h3>1.お店、商品を選ぶ</h3>
　　　　　　　<p><%= image_tag 'shop2.jpg', :size => '100x100' %></p>
　　　　　　　<h3>2.予約をする</h3>
　　　　　　　<p><%= image_tag 'shop3.jpg', :size => '100x100' %></p>
　　　　　　　<h3>3.商品受け取りに行く</h3>
　　　　　　　<p><%= image_tag 'shop.jpg', :size => '100x100' %></p>
　　　　　　　</div>
            </div>
        </div>
    </div>
