<h4>ジャンル変更</h4>
<%= form_with model:@genre,url:admins_genre_path(@genre),local:true do |t| %>
  <div class="filed">
  　<div class = "filed_with_errors">
    <label for="genre_name">ジャンル名</label>
    <%= t.text_field :genre_name %>
    </div>
  </div>
  <div class="actions">
   <%= t.submit '更新' %>
  </div>
<% end %>